.cwrapper {
  margin: auto;
  float: center;
  box-shadow: 0px 3px 6px #00000029;
}
.message_field {
  padding: 8px;
  resize: none;
}
input,
textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
}
.send {
  max-width: max-content;
}
